Repository rajsanjay/gluideme-ihvd0h, changes with the owners that .github/CODEOWNERS names for each.
All owners: @lead-architects, @backend-team-leads, @frontend-team-leads, @devops-team, @security-team, @data-team, @search-team

Add public-samples/gluideme-ihvd0h/src/backend/apps/institutions/tests/test_models.py
  src/backend/apps/institutions/tests/test_models.py
Owners: @backend-team-leads

Add public-samples/gluideme-ihvd0h/src/backend/apps/institutions/tests/test_serializers.py
  src/backend/apps/institutions/tests/test_serializers.py
Owners: @backend-team-leads

Add public-samples/gluideme-ihvd0h/src/backend/apps/institutions/tests/test_views.py
  src/backend/apps/institutions/tests/test_views.py
Owners: @backend-team-leads

Add public-samples/gluideme-ihvd0h/src/backend/apps/requirements/__init__.py
  src/backend/apps/requirements/__init__.py
Owners: @backend-team-leads, @data-team

Add public-samples/gluideme-ihvd0h/src/backend/apps/requirements/admin.py
  src/backend/apps/requirements/admin.py
Owners: @backend-team-leads, @data-team

Add public-samples/gluideme-ihvd0h/src/backend/apps/requirements/apps.py
  src/backend/apps/requirements/apps.py
Owners: @backend-team-leads, @data-team

Add public-samples/gluideme-ihvd0h/src/backend/apps/requirements/models.py
  src/backend/apps/requirements/models.py
Owners: @backend-team-leads, @data-team

Add public-samples/gluideme-ihvd0h/src/backend/apps/requirements/serializers.py
  src/backend/apps/requirements/serializers.py
Owners: @backend-team-leads, @data-team

Add public-samples/gluideme-ihvd0h/src/backend/apps/requirements/urls.py
  src/backend/apps/requirements/urls.py
Owners: @backend-team-leads, @data-team

Add public-samples/gluideme-ihvd0h/src/backend/apps/requirements/views.py
  src/backend/apps/requirements/views.py
Owners: @backend-team-leads, @data-team

Add public-samples/gluideme-ihvd0h/src/backend/apps/requirements/tests/__init__.py
  src/backend/apps/requirements/tests/__init__.py
Owners: @backend-team-leads, @data-team

Add public-samples/gluideme-ihvd0h/src/backend/apps/requirements/tests/test_models.py
  src/backend/apps/requirements/tests/test_models.py
Owners: @backend-team-leads, @data-team

Add public-samples/gluideme-ihvd0h/src/backend/apps/requirements/tests/test_serializers.py
  src/backend/apps/requirements/tests/test_serializers.py
Owners: @backend-team-leads, @data-team

Add public-samples/gluideme-ihvd0h/src/backend/apps/requirements/tests/test_views.py
  src/backend/apps/requirements/tests/test_views.py
Owners: @backend-team-leads, @data-team

Add public-samples/gluideme-ihvd0h/src/backend/apps/search/__init__.py
  src/backend/apps/search/__init__.py
Owners: @backend-team-leads, @search-team

Add public-samples/gluideme-ihvd0h/src/backend/apps/search/apps.py
  src/backend/apps/search/apps.py
Owners: @backend-team-leads, @search-team

Add public-samples/gluideme-ihvd0h/src/backend/apps/search/meilisearch.py
  src/backend/apps/search/meilisearch.py
Owners: @backend-team-leads, @search-team

Add public-samples/gluideme-ihvd0h/src/backend/apps/search/pinecone.py
  src/backend/apps/search/pinecone.py
Owners: @backend-team-leads, @search-team

Add public-samples/gluideme-ihvd0h/src/backend/apps/search/urls.py
  src/backend/apps/search/urls.py
Owners: @backend-team-leads, @search-team

Add public-samples/gluideme-ihvd0h/src/backend/apps/search/views.py
  src/backend/apps/search/views.py
Owners: @backend-team-leads, @search-team

Add public-samples/gluideme-ihvd0h/src/backend/apps/search/tests/__init__.py
  src/backend/apps/search/tests/__init__.py
Owners: @backend-team-leads, @search-team

Add public-samples/gluideme-ihvd0h/src/backend/apps/search/tests/test_meilisearch.py
  src/backend/apps/search/tests/test_meilisearch.py
Owners: @backend-team-leads, @search-team

Add public-samples/gluideme-ihvd0h/src/backend/apps/search/tests/test_pinecone.py
  src/backend/apps/search/tests/test_pinecone.py
Owners: @backend-team-leads, @search-team

Add public-samples/gluideme-ihvd0h/src/backend/apps/search/tests/test_views.py
  src/backend/apps/search/tests/test_views.py
Owners: @backend-team-leads, @search-team

Add public-samples/gluideme-ihvd0h/src/backend/apps/users/__init__.py
  src/backend/apps/users/__init__.py
Owners: @security-team, @backend-team-leads

Add public-samples/gluideme-ihvd0h/src/backend/apps/users/admin.py
  src/backend/apps/users/admin.py
Owners: @security-team, @backend-team-leads

Add public-samples/gluideme-ihvd0h/src/backend/apps/users/apps.py
  src/backend/apps/users/apps.py
Owners: @security-team, @backend-team-leads

Add public-samples/gluideme-ihvd0h/src/backend/apps/users/models.py
  src/backend/apps/users/models.py
Owners: @security-team, @backend-team-leads

Add public-samples/gluideme-ihvd0h/src/backend/apps/users/serializers.py
  src/backend/apps/users/serializers.py
Owners: @security-team, @backend-team-leads

Add public-samples/gluideme-ihvd0h/src/backend/apps/users/urls.py
  src/backend/apps/users/urls.py
Owners: @security-team, @backend-team-leads

Add public-samples/gluideme-ihvd0h/src/backend/apps/users/views.py
  src/backend/apps/users/views.py
Owners: @security-team, @backend-team-leads

Add public-samples/gluideme-ihvd0h/src/backend/apps/users/tests/__init__.py
  src/backend/apps/users/tests/__init__.py
Owners: @security-team, @backend-team-leads

Add public-samples/gluideme-ihvd0h/src/backend/apps/users/tests/test_models.py
  src/backend/apps/users/tests/test_models.py
Owners: @security-team, @backend-team-leads

Add public-samples/gluideme-ihvd0h/src/backend/apps/users/tests/test_serializers.py
  src/backend/apps/users/tests/test_serializers.py
Owners: @security-team, @backend-team-leads

Add public-samples/gluideme-ihvd0h/src/backend/apps/users/tests/test_views.py
  src/backend/apps/users/tests/test_views.py
Owners: @security-team, @backend-team-leads

Add public-samples/gluideme-ihvd0h/src/backend/apps/validation/__init__.py
  src/backend/apps/validation/__init__.py
Owners: @backend-team-leads, @data-team

Add public-samples/gluideme-ihvd0h/src/backend/apps/validation/admin.py
  src/backend/apps/validation/admin.py
Owners: @backend-team-leads, @data-team

Add public-samples/gluideme-ihvd0h/src/backend/apps/validation/apps.py
  src/backend/apps/validation/apps.py
Owners: @backend-team-leads, @data-team

Add public-samples/gluideme-ihvd0h/src/backend/apps/validation/models.py
  src/backend/apps/validation/models.py
Owners: @backend-team-leads, @data-team

Add public-samples/gluideme-ihvd0h/src/backend/apps/validation/serializers.py
  src/backend/apps/validation/serializers.py
Owners: @backend-team-leads, @data-team

.github/CODEOWNERS:

# Unless a later match takes precedence, @lead-architects will be requested for
# review when someone opens a pull request.
*       @lead-architects

# Backend code ownership
src/backend/**  @backend-team-leads

# Frontend code ownership
src/web/**      @frontend-team-leads

# Infrastructure and deployment configuration
infrastructure/**  @devops-team @security-team

# CI/CD workflow ownership
.github/workflows/**  @devops-team @security-team

# User management and authentication (requires security review)
src/backend/apps/users/**  @security-team @backend-team-leads

# Course validation logic
src/backend/apps/validation/**  @backend-team-leads @data-team

# Transfer requirements module
src/backend/apps/requirements/**  @backend-team-leads @data-team

# Search functionality
src/backend/apps/search/**  @backend-team-leads @search-team

# Application configuration (requires security review)
src/backend/config/settings/**  @security-team @devops-team
