Repository rajsanjay/gluideme-ihvd0h, changes with the owners that .github/CODEOWNERS names for each.
All owners: @lead-architects, @backend-team-leads, @frontend-team-leads, @devops-team, @security-team, @data-team, @search-team

Add public-samples/gluideme-ihvd0h/src/backend/apps/validation/urls.py
  src/backend/apps/validation/urls.py
Owners: @backend-team-leads, @data-team

Add public-samples/gluideme-ihvd0h/src/backend/apps/validation/views.py
  src/backend/apps/validation/views.py
Owners: @backend-team-leads, @data-team

Add public-samples/gluideme-ihvd0h/src/backend/apps/validation/tests/__init__.py
  src/backend/apps/validation/tests/__init__.py
Owners: @backend-team-leads, @data-team

Add public-samples/gluideme-ihvd0h/src/backend/apps/validation/tests/test_models.py
  src/backend/apps/validation/tests/test_models.py
Owners: @backend-team-leads, @data-team

Add public-samples/gluideme-ihvd0h/src/backend/apps/validation/tests/test_serializers.py
  src/backend/apps/validation/tests/test_serializers.py
Owners: @backend-team-leads, @data-team

Add public-samples/gluideme-ihvd0h/src/backend/apps/validation/tests/test_views.py
  src/backend/apps/validation/tests/test_views.py
Owners: @backend-team-leads, @data-team

Add public-samples/gluideme-ihvd0h/src/backend/celery/__init__.py
  src/backend/celery/__init__.py
Owners: @backend-team-leads

Add public-samples/gluideme-ihvd0h/src/backend/celery/app.py
  src/backend/celery/app.py
Owners: @backend-team-leads

Add public-samples/gluideme-ihvd0h/src/backend/celery/config.py
  src/backend/celery/config.py
Owners: @backend-team-leads

Add public-samples/gluideme-ihvd0h/src/backend/celery/tasks/__init__.py
  src/backend/celery/tasks/__init__.py
Owners: @backend-team-leads

Add public-samples/gluideme-ihvd0h/src/backend/celery/tasks/notifications.py
  src/backend/celery/tasks/notifications.py
Owners: @backend-team-leads

Add public-samples/gluideme-ihvd0h/src/backend/celery/tasks/requirements.py
  src/backend/celery/tasks/requirements.py
Owners: @backend-team-leads

Add public-samples/gluideme-ihvd0h/src/backend/celery/tasks/search.py
  src/backend/celery/tasks/search.py
Owners: @backend-team-leads

Add public-samples/gluideme-ihvd0h/src/backend/celery/tasks/validation.py
  src/backend/celery/tasks/validation.py
Owners: @backend-team-leads

Add public-samples/gluideme-ihvd0h/src/backend/config/__init__.py
  src/backend/config/__init__.py
Owners: @backend-team-leads

Add public-samples/gluideme-ihvd0h/src/backend/config/asgi.py
  src/backend/config/asgi.py
Owners: @backend-team-leads

Add public-samples/gluideme-ihvd0h/src/backend/config/urls.py
  src/backend/config/urls.py
Owners: @backend-team-leads

Add public-samples/gluideme-ihvd0h/src/backend/config/wsgi.py
  src/backend/config/wsgi.py
Owners: @backend-team-leads

Add public-samples/gluideme-ihvd0h/src/backend/config/settings/__init__.py
  src/backend/config/settings/__init__.py
Owners: @security-team, @devops-team

Add public-samples/gluideme-ihvd0h/src/backend/config/settings/base.py
  src/backend/config/settings/base.py
Owners: @security-team, @devops-team

Add public-samples/gluideme-ihvd0h/src/backend/config/settings/development.py
  src/backend/config/settings/development.py
Owners: @security-team, @devops-team

Add public-samples/gluideme-ihvd0h/src/backend/config/settings/production.py
  src/backend/config/settings/production.py
Owners: @security-team, @devops-team

Add public-samples/gluideme-ihvd0h/src/backend/config/settings/test.py
  src/backend/config/settings/test.py
Owners: @security-team, @devops-team

Add public-samples/gluideme-ihvd0h/src/backend/scripts/collect-static.sh
  src/backend/scripts/collect-static.sh
Owners: @backend-team-leads

Add public-samples/gluideme-ihvd0h/src/backend/scripts/entrypoint.sh
  src/backend/scripts/entrypoint.sh
Owners: @backend-team-leads

Add public-samples/gluideme-ihvd0h/src/backend/scripts/migrate.sh
  src/backend/scripts/migrate.sh
Owners: @backend-team-leads

Add public-samples/gluideme-ihvd0h/src/backend/scripts/run-tests.sh
  src/backend/scripts/run-tests.sh
Owners: @backend-team-leads

Add public-samples/gluideme-ihvd0h/src/backend/scripts/start-dev.sh
  src/backend/scripts/start-dev.sh
Owners: @backend-team-leads

Add public-samples/gluideme-ihvd0h/src/backend/scripts/start-prod.sh
  src/backend/scripts/start-prod.sh
Owners: @backend-team-leads

Add public-samples/gluideme-ihvd0h/src/backend/utils/__init__.py
  src/backend/utils/__init__.py
Owners: @backend-team-leads

Add public-samples/gluideme-ihvd0h/src/backend/utils/aws.py
  src/backend/utils/aws.py
Owners: @backend-team-leads

Add public-samples/gluideme-ihvd0h/src/backend/utils/cache.py
  src/backend/utils/cache.py
Owners: @backend-team-leads

Add public-samples/gluideme-ihvd0h/src/backend/utils/exceptions.py
  src/backend/utils/exceptions.py
Owners: @backend-team-leads

Add public-samples/gluideme-ihvd0h/src/backend/utils/middleware.py
  src/backend/utils/middleware.py
Owners: @backend-team-leads

Add public-samples/gluideme-ihvd0h/src/backend/utils/pagination.py
  src/backend/utils/pagination.py
Owners: @backend-team-leads

Add public-samples/gluideme-ihvd0h/src/backend/utils/permissions.py
  src/backend/utils/permissions.py
Owners: @backend-team-leads

Add public-samples/gluideme-ihvd0h/src/backend/utils/validators.py
  src/backend/utils/validators.py
Owners: @backend-team-leads

Add public-samples/gluideme-ihvd0h/src/backend/utils/tests/__init__.py
  src/backend/utils/tests/__init__.py
Owners: @backend-team-leads

Add public-samples/gluideme-ihvd0h/src/backend/utils/tests/test_aws.py
  src/backend/utils/tests/test_aws.py
Owners: @backend-team-leads

Add public-samples/gluideme-ihvd0h/src/backend/utils/tests/test_cache.py
  src/backend/utils/tests/test_cache.py
Owners: @backend-team-leads

.github/CODEOWNERS:

# Unless a later match takes precedence, @lead-architects will be requested for
# review when someone opens a pull request.
*       @lead-architects

# Backend code ownership
src/backend/**  @backend-team-leads

# Frontend code ownership
src/web/**      @frontend-team-leads

# Infrastructure and deployment configuration
infrastructure/**  @devops-team @security-team

# CI/CD workflow ownership
.github/workflows/**  @devops-team @security-team

# User management and authentication (requires security review)
src/backend/apps/users/**  @security-team @backend-team-leads

# Course validation logic
src/backend/apps/validation/**  @backend-team-leads @data-team

# Transfer requirements module
src/backend/apps/requirements/**  @backend-team-leads @data-team

# Search functionality
src/backend/apps/search/**  @backend-team-leads @search-team

# Application configuration (requires security review)
src/backend/config/settings/**  @security-team @devops-team
